body {
  font-family: var(--fonte-principal);
}

.container {
  padding-right: 6%;
  padding-left: 6%;
}

.botão {
  box-sizing: border-box;
  display: block;
  max-width: 350px;
  text-align: center;
  width: 100%;
}
