@import url(./css/reset.css);
@import url(./css/cabecalho.css);
@import url(./css/chamada.css);
@import url(./css/planos.css);

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Vast+Shadow&display=swap");
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Vast+Shadow&display=swap");
}

:root {
  --fonte-principal: "Open Sans", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
  
  --branco: #fff;
  
}

body {
    font-family: var(--fonte-principal);
}